{{>head}}
<div class="container posts">
  <div class="row">
    {{#sort contents.blog key="date" type="date" order="descending"}}

      {{#each this}}
        {{!-- <span class="icon-{{icon}}"></span> --}}
        <article class="article">
          <header>
            <h2><a href="{{url}}">{{title}}</a></h2>
          </header>
          <section class="content">
            {{{intro}}}
            <p class="date">Written on <span>{{moment date}}</span></p>
            <hr/>
          </section>
        </article>
      {{/each}}

    {{/sort}}
  </div>
</div>

{{>footer}}