{{>head}}
<div class="container profiles">
  <div class="row">
    <h2>Our Team</h2>
  </div>
  <div class="row">
    {{#each contents.team._.pages}}
      <div class="col-md-6">
        <div class="well">
          <div class="row profile">
            <img src="{{resolve-url url metadata.image}}" alt="{{metadata.name}}"/>
            <h3>{{metadata.name}}</h3>
            {{#if metadata.twitter}}
              <a class="fa fa-twitter-square" href="https://twitter.com/{{metadata.twitter}}"></a>
            {{/if}}
            {{#if metadata.github}}
              <a class="fa fa-github-square" href="http://github/{{metadata.github}}"></a>
            {{/if}}
            {{#if metadata.linkedin}}
              <a class="fa fa-linkedin-square" href="{{metadata.linkedin}}"></a>
            {{/if}}
          </div>
          <div class="row">
            {{{html}}}
          </div>
        </div>
      </div>
    {{/each}}
    <div class="col-md-6">
          <div class="row">
            <img src="">
            <h2></h2>
            <p></p>
          </div>
    </div>  
  </div>
</div>
{{>footer}}