{{>head}}
<div class="container profiles">
  <div class="row">
    {{#each contents.team._.pages}}
      <div class="col-md-6">
        <div class="well">
          <div class="row profile">
            <img src="{{resolve-url url metadata.image}}" alt="{{metadata.name}}"/>
            <h2>{{metadata.name}}</h2>
            {{#if metadata.twitter}}
              <i class="fa fa-twitter-square">{{metadata.twitter}}</i>
            {{/if}}
            {{#if metadata.github}}
              <i class="fa fa-github-square">{{metadata.github}}</i>
            {{/if}}
            {{#if metadata.linkedin}}
              <i class="fa fa-linkedin-square">{{metadata.linkedin}}</i>
            {{/if}}
          </div>
          <div class="row">
            {{{html}}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
{{>footer}}